.ownerDash-container {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.ownerDash-container > :nth-child(1) {
  flex: 1;
}

.ownerDash-container > :nth-child(2) {
  flex: 2;
}
